<h4>Listado</h4>
<ul class="list-group">
  <li *ngFor="
    let item of characterList;
    let i = index;
    let isPrimero = first;
    let isUltimo = last;
    let isPar = even;
    let isImpar = odd
    "
   class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
      'list-group-item-primary':isPrimero,
      'list-group-item-dark':isUltimo
      }">

    <div>
      <span class="text-primary">{{i+1}}. </span>
      <strong>{{item.name}} </strong>
      <span> {{item.age}} </span>
    </div>

    <button class="btn btn-danger" (click)="onDeleteCharacter(item.id)">X</button>

  </li>

</ul>
